src/main/resources/schema/poll.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="com.zgamelogic.poll"
        xmlns="com.zgamelogic.poll"
        elementFormDefault="qualified"
>

    <xs:simpleType name="durationTarget">
        <xs:restriction base="xs:string">
            <xs:enumeration value="day"/>
            <xs:enumeration value="hour"/>
            <xs:enumeration value="minute"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="durationUnitList">
        <xs:list itemType="durationTarget"/>
    </xs:simpleType>

    <xs:element name="poll">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="option" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>

            <xs:attribute name="title" type="xs:string" use="required"/>
            <xs:attribute name="multiAnswer" type="xs:boolean"/>
            <xs:attribute name="duration" type="xs:long"/>
            <xs:attribute name="duration-unit" type="durationUnitList"/>

        </xs:complexType>
    </xs:element>

</xs:schema>